.container{
    width: 100%;
    height: 120px;
    background-image: url(https://m.media-amazon.com/images/S/aplus-media-library-service-media/435f3732-fd43-43d5-a96c-25dc6d492fe7.__CR0,30,1600,495_PT0_SX970_V1___.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-size: contain;
}

a:link{
    font-size: 13px;
    font-family: 'Times, Times New Roman, serif';
}

h1{
    background-color: beige;
    font-size: 16px; 
    font-family: 'Times, Times New Roman, serif';
}
p{
    font-size: 11px; 
    font-family: 'Times, Times New Roman, serif';
}
li{
    font-size: 11px; 
    font-family: 'Times, Times New Roman, serif';
    margin-left: 10px;
}

